Repository davidboyd00/clubiio-software: changes, and which pre-commit hooks are due for each by the changed paths.
All: npm-audit, no-hardcoded-secrets

.pre-commit-config.yaml:

# Pre-commit hooks for Clubiio
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Gitleaks - Secret detection
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.1
    hooks:
      - id: gitleaks
        name: Detect secrets with Gitleaks
        entry: gitleaks protect --verbose --redact --staged
        language: golang
        pass_filenames: false

  # Prettier - Code formatting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [javascript, typescript, json, yaml, markdown]
        exclude: 'package-lock\.json|pnpm-lock\.yaml'

  # ESLint - JavaScript/TypeScript linting
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.56.0
    hooks:
      - id: eslint
        files: \.[jt]sx?$
        types: [file]
        args: ['--fix', '--max-warnings=0']
        additional_dependencies:
          - eslint@8
          - '@typescript-eslint/parser@6'
          - '@typescript-eslint/eslint-plugin@6'

  # Basic file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.md$'
      - id: end-of-file-fixer
        exclude: '\.md$'
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: detect-private-key
      - id: no-commit-to-branch
        args: ['--branch', 'main', '--branch', 'master']

  # Detect AWS credentials
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: detect-aws-credentials
        args: ['--allow-missing-credentials']

  # Security-focused linting
  - repo: local
    hooks:
      - id: npm-audit
        name: Check npm dependencies for vulnerabilities
        entry: npm audit --audit-level=high
        language: system
        files: package\.json$
        pass_filenames: false

      - id: no-console-log
        name: Check for console.log statements
        entry: grep -rn "console.log" --include="*.ts" --include="*.tsx" apps/
        language: system
        pass_filenames: false
        # Allow in development, block in CI
        stages: [manual]

      - id: no-hardcoded-secrets
        name: Check for hardcoded secrets patterns
        entry: grep -rn -E "(password|secret|key|token)\s*[:=]\s*['\"][^'\"]+['\"]" --include="*.ts" --include="*.tsx" apps/
        language: system
        pass_filenames: false
        # Exclude test files and configs
        exclude: '(\.test\.|\.spec\.|__tests__|\.example|\.sample)'

# Configuration
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit hooks
  autofix_prs: true
  autoupdate_branch: ''
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: weekly
  skip: [npm-audit]
  submodules: false

feat(ci/cd): add test-gated deployment workflows (RNF07)
  .github/workflows/cd-deploy.yml
  .github/workflows/ci-backend.yml
  .github/workflows/ci-frontend.yml
Due: no-hardcoded-secrets

feat(licensing): add subscription management system for SaaS commercialization
  apps/api/prisma/schema.prisma
  apps/api/src/index.ts
  apps/api/src/middleware/subscription.middleware.ts
  apps/api/src/modules/super-admin/super-admin.router.ts
  apps/desktop/src/stores/authStore.ts
Due: no-hardcoded-secrets

feat(dashboard): add super admin panel for license management
  apps/dashboard/src/App.tsx
  apps/dashboard/src/components/layout/AdminLayout.tsx
  apps/dashboard/src/lib/superAdminApi.ts
  apps/dashboard/src/pages/admin/AdminDashboardPage.tsx
  apps/dashboard/src/pages/admin/AdminLoginPage.tsx
  apps/dashboard/src/pages/admin/AdminTenantsPage.tsx
  apps/dashboard/src/pages/admin/index.ts
  apps/dashboard/src/stores/superAdmin.store.ts
Due: no-hardcoded-secrets

fix(ci): update pnpm version to 9 for lockfile compatibility
  .github/workflows/cd-deploy.yml
  .github/workflows/ci-backend.yml
  .github/workflows/ci-frontend.yml
Due: no-hardcoded-secrets

fix(ci): remove explicit pnpm version, use packageManager from package.json
  .github/workflows/cd-deploy.yml
  .github/workflows/ci-backend.yml
  .github/workflows/ci-frontend.yml
Due: no-hardcoded-secrets

chore: update pnpm-lock.yaml with new dependencies
  pnpm-lock.yaml
Due: no-hardcoded-secrets

fix(api): resolve TypeScript errors in core modules
  .github/workflows/cd-deploy.yml
  .github/workflows/ci-backend.yml
  apps/api/src/index.ts
  apps/api/src/middleware/audit.middleware.ts
  apps/api/src/middleware/security.middleware.ts
  apps/api/src/modules/auth/auth.router.ts
  apps/api/src/modules/auth/mfa.service.ts
  apps/api/src/modules/super-admin/super-admin.router.ts
Due: no-hardcoded-secrets

chore: add backend test files and vitest config
  apps/api/src/modules/auth/auth.utils.test.ts
  apps/api/src/modules/auth/auth.utils.ts
  apps/api/src/modules/cash-sessions/cash-sessions.utils.test.ts
  apps/api/src/modules/cash-sessions/cash-sessions.utils.ts
  apps/api/src/modules/orders/orders.utils.test.ts
  apps/api/src/modules/orders/orders.utils.ts
  apps/api/src/test/setup.ts
  apps/api/vitest.config.ts
Due: no-hardcoded-secrets

feat: add dashboard and web app source files
  apps/dashboard/electron/main.cjs
  apps/dashboard/electron/preload.cjs
  apps/dashboard/index.html
  apps/dashboard/package.json
  apps/dashboard/postcss.config.js
  apps/dashboard/src/components/layout/DashboardLayout.tsx
  apps/dashboard/src/index.css
  apps/dashboard/src/lib/api.ts
  apps/dashboard/src/main.tsx
  apps/dashboard/src/pages/FestivalModePage.tsx
  apps/dashboard/src/pages/LoginPage.tsx
  apps/dashboard/src/pages/OverviewPage.tsx
  apps/dashboard/src/pages/ProductsPage.tsx
  apps/dashboard/src/pages/SalesPage.tsx
  apps/dashboard/src/pages/SettingsPage.tsx
  apps/dashboard/src/pages/StaffPage.tsx
  apps/dashboard/src/pages/VenuesPage.tsx
  apps/dashboard/src/stores/auth.store.ts
  apps/dashboard/src/vite-env.d.ts
  apps/dashboard/tailwind.config.js
  apps/dashboard/tsconfig.json
  apps/dashboard/tsconfig.node.json
  apps/dashboard/vite.config.ts
  apps/web/index.html
  apps/web/package.json
  apps/web/postcss.config.js
  apps/web/public/favicon.svg
  apps/web/src/App.tsx
  apps/web/src/index.css
  apps/web/src/main.tsx
  apps/web/src/vite-env.d.ts
  apps/web/tailwind.config.js
  apps/web/tsconfig.json
  apps/web/tsconfig.node.json
  apps/web/vite.config.ts
Due: npm-audit, no-hardcoded-secrets

fix(ci): remove apps/web from CI workflows
  .github/workflows/cd-deploy.yml
  .github/workflows/ci-frontend.yml
  apps/web/index.html
  apps/web/package.json
  apps/web/postcss.config.js
  apps/web/public/favicon.svg
  apps/web/src/App.tsx
  apps/web/src/index.css
  apps/web/src/main.tsx
  apps/web/src/vite-env.d.ts
  apps/web/tailwind.config.js
  apps/web/tsconfig.json
  apps/web/tsconfig.node.json
  apps/web/vite.config.ts
Due: npm-audit, no-hardcoded-secrets

fix(api): add retry middleware for Neon connection issues
  apps/api/src/common/database.ts
Due: no-hardcoded-secrets

codex
  apps/api/prisma/schema.prisma
  apps/api/src/index.ts
  apps/api/src/middleware/socket-auth.middleware.ts
  apps/api/src/modules/analytics/analytics.events.ts
  apps/api/src/modules/analytics/analytics.router.ts
  apps/api/src/modules/analytics/analytics.schema.ts
  apps/api/src/modules/analytics/analytics.service.ts
  apps/dashboard/src/pages/OverviewPage.tsx
  apps/desktop/src/components/notifications/NotificationBell.tsx
  apps/desktop/src/lib/api.ts
  apps/desktop/src/lib/socket.ts
Due: no-hardcoded-secrets

fix(tests): remove unused variables in security tests
  apps/api/src/tests/security/encryption.security.test.ts
  apps/api/src/tests/security/waf.security.test.ts
Due: none

fix(deps): add @vitest/coverage-v8 for CI coverage reports
  apps/api/package.json
  pnpm-lock.yaml
Due: npm-audit, no-hardcoded-secrets

fix(ci): add write permissions for GitHub releases
  .github/workflows/cd-deploy.yml
Due: no-hardcoded-secrets

feat(api): add Sprint 4 performance optimizations
  apps/api/.env.example
  apps/api/package.json
  apps/api/src/common/cache/cache.service.ts
  apps/api/src/common/cache/index.ts
  apps/api/src/common/cache/redis.service.ts
  apps/api/src/common/database.ts
  apps/api/src/common/query/batch-loader.ts
  apps/api/src/common/query/index.ts
  apps/api/src/common/query/pagination.ts
  apps/api/src/common/query/select-fields.ts
  apps/api/src/middleware/compression.middleware.ts
  apps/api/src/middleware/redis-rate-limit.middleware.ts
  apps/api/src/tests/middleware/compression.test.ts
  apps/api/src/tests/middleware/redis-rate-limit.test.ts
  apps/api/src/tests/performance/cache.test.ts
  pnpm-lock.yaml
Due: npm-audit, no-hardcoded-secrets

fix(config): resolve circular dependency between config and logger
  apps/api/src/config/index.ts
Due: no-hardcoded-secrets

fix(logger): resolve circular dependency with config module
  apps/api/src/common/logger.ts
Due: no-hardcoded-secrets

feat(api): add events, tickets, vip-cards, vip-tables, and access control modules
  apps/api/src/index.ts
  apps/api/src/modules/access/access.router.ts
  apps/api/src/modules/access/access.schema.ts
  apps/api/src/modules/access/access.service.ts
  apps/api/src/modules/access/index.ts
  apps/api/src/modules/events/events.router.ts
  apps/api/src/modules/events/events.schema.ts
  apps/api/src/modules/events/events.service.ts
  apps/api/src/modules/events/index.ts
  apps/api/src/modules/tickets/index.ts
  apps/api/src/modules/tickets/tickets.router.ts
  apps/api/src/modules/tickets/tickets.schema.ts
  apps/api/src/modules/tickets/tickets.service.ts
  apps/api/src/modules/vip-cards/index.ts
  apps/api/src/modules/vip-cards/vip-cards.router.ts
  apps/api/src/modules/vip-cards/vip-cards.schema.ts
  apps/api/src/modules/vip-cards/vip-cards.service.ts
  apps/api/src/modules/vip-tables/index.ts
  apps/api/src/modules/vip-tables/vip-tables.router.ts
  apps/api/src/modules/vip-tables/vip-tables.schema.ts
  apps/api/src/modules/vip-tables/vip-tables.service.ts
Due: no-hardcoded-secrets

fix(dashboard): remove duplicate useEffect closing fragment in OverviewPage
  apps/dashboard/src/pages/OverviewPage.tsx
Due: no-hardcoded-secrets

feat(api): add warehouses and stock management module
  apps/api/src/index.ts
  apps/api/src/modules/warehouses/index.ts
  apps/api/src/modules/warehouses/warehouses.router.ts
  apps/api/src/modules/warehouses/warehouses.schema.ts
  apps/api/src/modules/warehouses/warehouses.service.ts
Due: no-hardcoded-secrets

feat(desktop): add 6 new pages for events, tickets, VIP cards, VIP tables, access control, and warehouses
  apps/desktop/src/App.tsx
  apps/desktop/src/components/layout/Sidebar.tsx
  apps/desktop/src/lib/api.ts
  apps/desktop/src/pages/AccessControlPage.tsx
  apps/desktop/src/pages/EventsPage.tsx
  apps/desktop/src/pages/TicketsPage.tsx
  apps/desktop/src/pages/VipCardsPage.tsx
  apps/desktop/src/pages/VipTablesPage.tsx
  apps/desktop/src/pages/WarehousesPage.tsx
Due: no-hardcoded-secrets

feat: connect customers, promotions, and reports to backend API
  apps/api/prisma/schema.prisma
  apps/api/src/index.ts
  apps/api/src/modules/customers/customers.router.ts
  apps/api/src/modules/customers/customers.schema.ts
  apps/api/src/modules/customers/customers.service.ts
  apps/api/src/modules/customers/index.ts
  apps/api/src/modules/orders/orders.router.ts
  apps/api/src/modules/orders/orders.service.ts
  apps/api/src/modules/promotions/index.ts
  apps/api/src/modules/promotions/promotions.router.ts
  apps/api/src/modules/promotions/promotions.schema.ts
  apps/api/src/modules/promotions/promotions.service.ts
  apps/desktop/src/lib/api.ts
  apps/desktop/src/lib/promotions.ts
  apps/desktop/src/lib/reports.ts
  apps/desktop/src/pages/CustomerManagementPage.tsx
  apps/desktop/src/pages/PromotionsPage.tsx
  apps/desktop/src/pages/ReportsPage.tsx
Due: no-hardcoded-secrets
